.grid{
    width: 1170px;
    max-width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    margin-bottom: 30px;
}
.column-4{
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}
.column-third{
    width: 33.333333%;
}
.row-size-xl{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    margin-bottom: 30px;
}
.column-halft{
    position: relative;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}
.watching{
    top:72% ;    
    
    
    position: absolute;
    width: 270px;
    height: 3px;
    background-color: #E4E7EB;
}
.watching::before{
    
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: red;
}
.lived{
    position: absolute;
    background-color: #FF0C0C;
    width: 34px;
    height: 20px;
    border-radius: 2px;
    top:4%  ;
    right:6%    ;
}
.lived-title{
    font-size: 14px;
    padding: 2px;
    color : #fff ;
}

.dots--style{
color: red;
}
